/* //-- grids style overrides -- */
body { 

    font-family: Georgia; 
    color: rgb(24, 23, 23);
    line-height: 1.6;
    background-color:#a1afa4; 
    background-image: url(images/bird.png); 
    background-repeat: no-repeat; 

}


#inner { 

    padding: 2% 4%; 
    margin: 3% auto; 
    background: #f5f5f5; 
    border: solid #666; 
    border-width: 8px 0 2px 0; 
    width: 40%;

}


/* //-- header, body, footer -- */
header { 
    
    margin: 2.5em 0 3em 0; 
    padding-bottom: 1.5em; 
    border-bottom: 1px solid #ccc 

}


header h2 { 
    
    text-transform: uppercase; 
    letter-spacing: 2px; 

}


#bd, footer { margin-bottom: 2em; }
.gf{ margin-top: 5%; }

/* //-- footer -- */
footer { 
    
    padding: 1em 0 5em 0; 
    font-size: 110%; 
    border-top: 1px solid #ccc; 
    text-align: center; 
    word-spacing: 150%;
    color: #000;

}


footer h2 { 
    
    margin-bottom: 0; 
    text-align: center; 

} 

/* //-- core typography and style -- */
header h1 { 
    
    font-size: 310%; 
    text-transform: uppercase; 
    letter-spacing: 0.150em;

}


h2 { font-size: 152%; }
h3, h4 { font-size: 122%; }
h1, h2, h3, h4 { color: #333; }


p { 
    
    font-size: 100%; 
    line-height: 18px; 
    padding-right: 0.01em;

}


a { color: #be474f }
a:hover { text-decoration: none; }


li { 
    
    line-height: 24px; 
    border-bottom: 1px solid #ccc; 

}


p.enlarge { 
    
    font-size: 150%; 
    font-family: 'Times New Roman', Times, serif;
    padding-bottom: 3em; 
    line-height: 27px; 
    border-bottom: 1px solid #ccc;

}


.first h2 { font-style: italic;}
.last { border-bottom: 0 }


/* //-- section styles -- */
.education { 
    
    position: relative; 
    margin-bottom: 1em; 
    padding-bottom: 1em; 
    border-bottom: 1px solid #ccc; 

}


.education h4 { position: absolute; top: 0.35em; right: 0 }
.education p { margin: 0.75em 0 3em 0; }

.last { border: none; }
.skills-list ul { margin: 0; }
.skills-list li { margin: 3px 0; padding: 3px 0; }
.skills-list li span { font-size: 152%; display: block; margin-bottom: -2px; padding: 0 }
.talent { width: 29%; float: left }
.talent h2 { margin-bottom: 6px; }
.gf div.first{width:70%;}


/* //-- responsive design -- */
@media only screen and (max-device-width: 900px) {

    div#inner{ width: 90%; opacity: 80%; }
    body{ background-size: 100% auto;};
    p.enlarge { 
        
        font-size: 140%; 
        padding-bottom: 3em; 
        padding-right: 0.1em;
        padding-left: 0.2em;
        border-bottom: 1px solid #ccc;
    
    }
    
    
}

